
backup/calibrate.m
backup/calibration.m
backup/decompose_projection.m
backup/main.m
backup/findPoints.m
backup/plot_frame.m
backup/thresholding.m
calibration-extra/img0.png
calibration-extra/img0_measurements.png
